@page
@model IndexModel 
@{
    ViewData["Title"] = "Home page";

}
@*Nathan Pincus, Alex Hensley, and Luke Mehr*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Interface/StudentPage/"> </p>
    <button> Student </button> </a>
    <p><a href="/Interface/InstructorLogin/"> </p>
    <button> Instructor </button> </a>

</div>

