@page
@model SchoolPage.Pages.Interface.LandingPageModel
@{
}


@{
    if (HttpContext.Session.GetString("username") != null)
    {
        <p>User @HttpContext.Session.GetString("username") is logged in!</p>

        <a class="btn btn-outline-primary" asp-page="InstructorLogin" asp-route-logout="true"> Logout</a>
    }
}